#calc {
  display: grid;
  grid-template-columns: 1fr fit-content(50%) 1fr;
  grid-template-rows: 1fr auto 1fr;
  align-content: stretch;
  align-items: center;
}

.grid-item, #finnventorcalc {
  font-size: 14pt;
  font-family: monospace, monospace;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
}

#finnventorcalc {
  display: block;
  text-align: left;
  vertical-align: middle;
  resize: none;
  outline-style: none;
  box-shadow: none;
  border-radius: 8px;
  background-color: #ddd;
  border: 2px solid #ddd;
  padding: 10px;
  transition: background-color 0.3s, border 0.3s;
  -webkit-transition: background-color 0.3s, border 0.3s;
  box-sizing: border-box;
  white-space: pre;
}

#finnventorcalc:hover, .circle:hover > span {
  background-color: #d0d0d0;
  border-color: #d0d0d0;
}

#finnventorcalc::placeholder {
  text-align: center;
}


#finnventorcalc:focus::placeholder {
  color: transparent;
}

#calc_highlight {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  margin: 0;
  pointer-events: none;
  user-select: none;
  text-align: left;
  color: #f00;
}

.error {
  color: #e00;
}

.error[title] {
  cursor: help;
}

.error.material-icons {
  vertical-align: middle;
  margin: -10px 0 -5px -5px;
}

.error.fadein {
  color: transparent;
  animation: error_appear 2s ease-in forwards;
}

@keyframes error_appear {
  0% {}
  50% {}
  100% {color: #e00;}
}

#left_paren, #right_paren {
  margin: 0;
}

.paren {
  cursor: pointer;
  padding: 5px 0;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.circle {
  position: absolute;
  left: 50px;
  bottom: 50px;
  text-decoration: none;
  font-size: 14pt;
  font-family: monospace, monospace;
  color: #000;
}

.circleright {
  left: revert;
  right: 50px;
}

.circle > span {
  text-align: center;
  transition: background-color 0.3s, border 0.3s;
  -webkit-transition: background-color 0.3s, border 0.3s;
  display: inline-block;
  width: 3ch;
  height: 3ch;
  line-height: 3ch;
  border-radius: 99px;
  background-color: #ddd;
  border: 2px solid #ddd;
}

.circle > span > .material-icons {
  vertical-align: text-top;
}

#help {
  padding: 0 50px;
  width: 80%;
}

#help > h2 {
  padding-top: 50px;
}

#help a {
    color: inherit;
}

.mdl-tooltip {
  white-space: nowrap;
  max-width: none;
}

.mdl-tooltip--right {
  transform-origin: center left;
}

@media (prefers-color-scheme: dark) {
  .circle > span {
    background-color: #444;
    border: 2px solid #444;
    color: #fff;
  }
  .circle {
    color: #fff;
  }
  #finnventorcalc {
    background-color: #444;
    border-color: #444;
    color: #fff;
  }
  #finnventorcalc:hover, .circle:hover > span {
    background-color: #666;
    border-color: #666;
  }
  .error {
    color: #ff5722;
  }
  @keyframes error_appear {
    0% {}
    50% {}
    100% {color: #ff5722;}
  }
}
