#calc {
  display: grid;
  grid-template-columns: 1fr fit-content(50%) 1fr;
  grid-template-rows: 1fr auto 1fr;
  align-content: stretch;
  align-items: center;
}

.grid-item {
  font-size: 14pt;
  font-family: monospace, monospace;
  line-height: 1.6;
  text-align: center;
  vertical-align: middle;
}

#finnventorcalc {
  display: block;
  text-align: left;
  vertical-align: middle;
  resize: none;
  outline-style: none;
  box-shadow: none;
  border-radius: 8px;
  background-color: #ddd;
  border: 2px solid #ddd;
  padding: 10px;
  transition: background-color 0.3s, border 0.3s;
  -webkit-transition: background-color 0.3s, border 0.3s;
  box-sizing: border-box;
  white-space: pre;
}

#finnventorcalc:hover {
  background-color: #d0d0d0;
  border-color: #d0d0d0;
}

#finnventorcalc::placeholder {
  text-align: center;
}


#finnventorcalc:focus::placeholder {
  color: transparent;
}


.error {
  color: #e00;
}

.error[title] {
  cursor: not-allowed;
}

.error.fadein {
  color: transparent;
  animation: error_appear 2s ease-in forwards;
}

@keyframes error_appear {
  0% {}
  50% {}
  100% {color: #e00;}
}

.paren {
  cursor: pointer;
  padding: 5px 0;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

#help {
  margin: 50px;
  width: 80%;
}

#help a {
    color: inherit;
}

.mdl-tooltip {
  white-space: nowrap;
  max-width: none;
}

.mdl-tooltip--right {
  transform-origin: center left;
}

@media (prefers-color-scheme: dark) {
  #finnventorcalc {
    background-color: #444;
    border-color: #444;
    color: #fff;
  }
  #finnventorcalc:hover {
    background-color: #666;
    border-color: #666;
  }
  .error {
    color: #f66;
  }
  @keyframes error_appear {
    0% {}
    50% {}
    100% {color: #f66;}
  }
}
