.mdl-card {
  margin: 10px;
  height: 300px;
}

.mdl-card > .mdl-card__title {
  align-items: flex-start;
}

#calc > .mdl-card__title {
  background: url('/images/calculator.jpg') center / cover;
}

#python > .mdl-card__title {
  background: url('/images/python.png') center / cover;
}

.white-shadow {
  text-shadow: 0 0 20px white, 0 0 15px white, 0 0 10px white;
}