body {
  height: 100%;
  width: 100%;
}

section {
  width: 100%;
  min-height: 100%;
  height: auto;
}

h4 {
  margin: 0;
}

.hidden {
  display: none;
}

.center {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.anchor {
  display: block;
  position: relative;
  width: 0;
  height: 20px;
  margin-top: -20px;
}

.mdl-navigation__link {
  color: inherit !important;
}

.mdl-layout__drawer-button {
  color: inherit !important;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #fff;
  }
  .mdl-layout__header {
    background-color: #ff5722 !important;
  }
  .card, .mdl-card {
    background-color: #444;
  }
  .mdl-card__supporting-text {
    color: #fff;
  }
  .mdl-layout__header {
    color: #000;
  }
}
